.btn {
  border: none;
  outline: none;
  padding: 7px 15px;
  border-radius: 15px;
  background-color: red;
  color: white;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  cursor: pointer;
}

#drag-btn {
  background-color: green;
}

#example-wrapper {
  border: 5px solid gray;
  margin-top: 30px;
  padding: 20px;
  font-size: 30px;
}

.bg-color {
  background-color: red;
}

#create-div {
  padding: 10px;
  margin-top: 30px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.kapsayıcı {
  width: 300px;
  height: 300px;
  background-color: lightcoral;
  margin-top: 20px;
}

.new-eleman {
  text-align: center;
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: white;
}
